.navbar {
    background-color: #9CC4E4 !important;
    padding: 20px;
}

a.navbar-brand {
    font-size: 25px;

}

input#search {
    margin-top: 10px;
}

[type=search] {
    max-width: 200px;
    padding: .5em;
    display: block;
    margin: 0 auto;
}

ul {
    margin-top: 5px;
    padding: 0;
    text-align: center;
    list-style-type: none;
}



form a {
    color: #1B325F;

}

.jumbotron {
    background-image: url(images/home/Boeken-Bieb.jpg) !important;
    background-size: cover;
    background-position: center;
    background-color: #E9F2F9;
}

p.cursief {
    font-style: oblique;
}

a.btn1 {
    color: #E9F2F9;
    font-family: 'Roboto', helvetica;
    background-color: #9CC4E4;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 4px;
    font-weight: 100;
    text-transform: uppercase;
    box-shadow: 12px 16px 35px 0px rgba(0, 0, 0, 0.30);
}

a.btn1:hover {
    transform: scale(.98);
    background-color: darken(#9CC4E4, 10%);
    box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.30);
}

a.btn1:active {
    transform: scale(.97);
    background-color: darken(#9CC4E4, 15%);
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.30);
    s
}

a.btn1:focus:hover {
    outline: 0;
}

img.img-fluid {
    height: 150px;

    font-family: 'Raleway', Arial, sans-serif;

    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #000000;
    border-radius: 2px;
    -webkit-perspective: 50em;
    perspective: 50em;
}

div a.tekst {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 0.75;
    color: #b2b0a9;
    position: absolute;
    height: 16px;
    width: 100%;
    top: 76%;
    margin-top: -8px;
    right: 0;
    transition: 100ms;
}

div a.tekst:hover {
    font-size: 110%;
}

/*---login page--*/
.login-box {
    margin-top: 75px;
    height: auto;
    background: #E9F2F9;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    -webkit-background-clip: text;

}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #9CC4E4;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text] {
    background-color: #9CC4E4;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=Email] {
    background-color: #9CC4E4;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #9CC4E4;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #3A89C9;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}




footer {
    background-color: #9CC4E4;
}